body {
    padding-top: 50px;
}

header {
	height: 40px;

	
    z-index: 1; position:fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;
}
.nav-up {
    top: -50px;
}

main {
   
    height:780px;
}
